*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-transform: capitalize;
  transition: 0.3s;
}
body{
  width: 100%;
  background-color:rgb(61, 57, 57);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.boks{
  margin: 30px;
  width: 450px;
  min-height: 400px;
  background-color: rgb(41, 39, 39);
  text-align: center;
  padding: 20px;
}
.boks:hover{
  background-color: rgba(14, 13, 13, 0.527);
  box-shadow: 3px 8px 15px -2px #616812;
  cursor: pointer;
}
.boks h2{
  font-size: 35px;
  color: orange;
}

.glass-button {
  display: inline-block;
  margin: 10px 0;
  padding: 14px 22px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;

}

.glass-button:hover {
  background-color: rgba(179, 165, 89, 0.2);
}

img{
  width: 400px;
  height: 300px;
  object-fit: cover;

}